<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.wilin"
        android:enableOnBackInvokedCallback="true"
        android:usesCleartextTraffic="true">

        <activity
    android:name=".MainActivity"
    android:exported="true"
    android:theme="@style/Theme.wilin.Splash"
    android:configChanges="orientation|screenSize|keyboardHidden"
    android:windowSoftInputMode="adjustResize"
    android:launchMode="singleTop">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
</activity>

        <activity
            android:name=".ui.SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.wilin"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <activity
            android:name=".ui.AiSearchActivity"
            android:exported="false"
            android:theme="@style/Theme.wilin"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.GamesActivity"
            android:exported="false"
            android:theme="@style/Theme.wilin"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.wilin"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.NotificationsActivity"
            android:exported="false"
            android:theme="@style/Theme.wilin"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.PrivacyActivity"
            android:exported="false"
            android:theme="@style/Theme.wilin"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.BrowserResponseActivity"
            android:exported="false"
            android:theme="@style/Theme.wilin"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.IncognitoActivity"
            android:exported="false"
            android:theme="@style/Theme.wilin"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.TabsActivity"
            android:exported="false"
            android:theme="@style/Theme.wilin.Translucent"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.BookmarksActivity"
            android:exported="false"
            android:theme="@style/Theme.wilin"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.HistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.wilin"
            android:windowSoftInputMode="adjustResize" />
        <activity
    android:name=".ui.NewsDetailActivity"
    android:exported="false"
    android:theme="@style/Theme.wilin"
    android:windowSoftInputMode="adjustResize" />

    </application>
</manifest>